
<div class="pure-g body">
  <div class="pure-u-1-2 a1"><p>Avez vous deja ete oblige d'attendre de sheures avnt d'etre recu au secretariat de l'universite?
    Que diriez vous de faire la queue en file pour vous eviter une perte de temps pas vraiment necessaire? Ca vous parle? Bienvenue sur LineUp.
    Dites Bye bye au gaspillage de temps.
  </p>
    <br>
    <br>
    <a class="pure-button gros-button" href="/error">Enregistres-toi!</a>
    <a class="pure-button gros-button" href="#">Connexion</a>
  </div>
  <!--<div class="pure-u-1-2 a2" style="    background-color: red;"><p>Thirds</p></div>-->


</div>