<div class="pure-menu">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <a href="" class="pure-menu-link">
        <i class="fa fa-long-arrow-left"></i>
        Profile
      </a>
    </li>
    <li class="pure-menu-item">
      <a href="" class="pure-menu-link">
        <i class="fa fa-long-arrow-left"></i>
        Settings
      </a>
    </li>
    <li class="pure-menu-item">
      <a href="" class="pure-menu-link">
        <i class="fa fa-long-arrow-left"></i>
        LogOut
      </a>
    </li>
  </ul>
</div>
