<div class="ui vertical menu" style="width: 100%">
  <div class="item">
    <div class="menu">
      <i class="massive home icon"></i>
    </div>
  </div>
  <div class="item">
    <div class="menu">
      <a class="item">Profile</a>
      <a class="item">Settings</a>
      <a class="item">LogOut</a>
    </div>
  </div>
</div>

