<div class="navbar pure-menu sidebar">
  <a href="#" class="pure-menu-heading pure-menu-link">LineUp</a>
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">FAQ</a></li>
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Comment ca fonctionne?</a></li>
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
  </ul>
</div>

