<div class="error">
  <h2>
    Whouppps
  </h2>
  <br>
  <img src="angry_unicorn.png">
  <p>Soit vous vous etes perdus soit cette page n'est pas encore prete.
    <br>
    Dans tous les case je suis vraiment navrée</p>
</div>