<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.css">
	<title>Sign up form</title>
</head>
<body>
<div class="ui four column centered grid">
	<div class="column" style="background-color: #f44336">
			<form class="ui form" action="/welcome" method="post">
        <div class="field">
          <label>First name</label>
          <input type="text" name="firstname" placeholder="Leila">
        </div>
        <div class="field">
          <label>Last name</label>
          <input type="text" name="lastname" placeholder="Compaore">
        </div>
        <div class="field">
          <label>Email</label>
          <input type="email" name="email" placeholder="cleila2@live.fr">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password" placeholder="******">
        </div>
        <button class="ui button" type="submit">submit</button>
			</form>
	</div>
</div>


</body>
</html>
